<template name="staticMain">
        <div class="content" id="main-content">
            <div class="pane-left table">

                <div class="middle">
                    <div class="inner" style="width: 80%">

                        <img class="main-image" src="/images/tt2.png" onclick="window.location.href = 'http://imilka.co/timetablr/'">

                    </div>
                </div>
            </div>
            <div class="pane-right table">
                <div class="middle">
                    <div class="inner">

                        {{> loginForm}}

                    </div>
                </div>
            </div>
        </div>
</template>