<template name="staticSignup">
    <div class="outer">
        <div class="middle">
            <div class="inner">

                <div class="container-shadow">
                    <div class="signup-form margin-auto">
                        <div class="span-div">
                            <span>Создайте Ваш аккаунт</span>
                        </div>
                        <p>{{alert}}</p>
                        <form>
                            <input type="text" name="username" placeholder="Имя пользователя" id="signup-username">
                            <input type="text" name="fullName" placeholder="Полное имя" id="signup-fullName">
                            <input type="text" name="organization" placeholder="Организация" id="signup-organization">
                            <input type="email" name="email" placeholder="Email" id="signup-email">
                            <input type="text" name="phone" placeholder="Телефон" id="signup-phone">
                            <input type="password" name="password" placeholder="Выберите пароль" id="signup-pass">
                            <input type="password" name="password2" placeholder="Повторите пароль" id="signup-pass2">
                            <button type="submit" class="button">Зарегистрироваться</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>