<template name="addObjectModal">

    <div id="addObjectModal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Добавить новый объект
        </div>
        <div class="content">
            <div class="ui medium image">
                вцй
            </div>
            <div class="description">
                Здесь вы можете добавить объект
            </div>
        </div>
        <div class="actions">
            <div id="reject" class="ui black button">
                Отменить
            </div>
            <div id="accept" class="ui positive right labeled icon button">
                Добавить объект
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

</template>