html{
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}
.content {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: auto;
    height: auto;
}
.pane-left{
    background: #95a5a6;
    width: 60%;
    height: 100%;
    display: inline-block;
    float: left;
}
.pane-right{
    display: inline-block;
    height: 100%;
    width: 40%;
    background: #ecf0f1;
}
.login-form{
    text-align: center;
}
.login-form form input{
display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 40%;
    height: 30px;
    padding: 3px;
    font-size: 16px;
}
.login-form form button{
    width: 40%;
}
.signup-form{
    text-align: center;
}
.signup-form form input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 300px;
    max-width: 90%;
    height: 30px;
    padding: 3px;
    font-size: 16px;
}
.signup-form form button{
    width: 200px;
}
.button{
    cursor: pointer;
    width: 200px;
    height: 40px;
    background: none;
    border: 2px solid #34495e;
    border-radius: 2px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.table{
    display: table !important;
}
.container-shadow {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    padding: 20px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}
.main-image{
    width: 100%;
    max-height: 80%;
    cursor: pointer;
}
.padding-20{
    padding: 20px;
}