<template name="loginForm">
    <div class="login-form signup-form margin-auto">
        <div class="span-div">
            <span>Добро пожаловать!</span>
        </div>
        <p>{{alert}}</p>
        <form>
            <div class="ui input">
                <input id="login-email" name="email" type="email" placeholder="Email">
            </div>
            <div class="ui input m-t-10">
                <input id="login-pass" type="password" placeholder="Пароль">
            </div>
            <button id="login-button" type="submit" class="medium ui black button m-t-10">Войти</button>
            <div id="test-user" class="medium ui black basic button m-t-10">
                Войти как тестовый пользователь
            </div>
        </form>
        <div class="text-center">
            <a class="f-s-12" href="{{pathFor 'signup'}}">Зарегистрироваться</a>
        </div>
    </div>
</template>