<template name="loginForm">
    <div class="login-form signup-form margin-auto">
        <div class="span-div">
            <span>Добро пожаловать!</span>
        </div>
        <p>{{alert}}</p>
        <form>
            <input type="email" name="email" placeholder="Email address" id="login-email">
            <input type="password" name="password" placeholder="Password" id="login-pass">
            <button type="submit" class="button">Войти</button>
        </form>
        <div class="text-center">
            <a class="f-s-12" href="{{pathFor 'signup'}}">Зарегистрироваться</a>
        </div>
    </div>
</template>