<template name="userUpdate">

    <div class="ui inverted menu no-bottom-border-radius m-b-0">
        <a href="{{pathFor 'user' controller='update' model='objects'}}" class="{{#if isUserWorkObjects}}active{{/if}} item">
            <i class="building icon"></i> Объекты
        </a>
        <a href="{{pathFor 'user' controller='update' model='auditories'}}" class="{{#if isUserWorkAuditories}}active{{/if}} item">
            <i class="cube icon"></i> Аудитории
        </a>
        <a  href="{{pathFor 'user' controller='update' model='groups'}}" class="{{#if isUserWorkGroups}}active{{/if}} item">
            <i class="group icon"></i> Группы
        </a>
        <a  href="{{pathFor 'user' controller='update' model='courses'}}" class="{{#if isUserWorkCourses}}active{{/if}} item">
            <i class="student icon"></i> Учебные курсы
        </a>
    </div>

    <div class="ui top segment no-top-border-radius m-t-0">

        {{#if isUserListObjects}}{{> userListObjects}}{{/if}}
        {{#if isUserListAuditories}}{{> userListAuditories}}{{/if}}
        {{#if isUserListGroups}}{{> userListGroups}}{{/if}}
        {{#if isUserListFaculties}}{{> userListFaculties}}{{/if}}
        {{#if isUserListCourses}}{{> userListCourses}}{{/if}}

        {{#if isUserUpdateObjects}}{{> userUpdateObjects}}{{/if}}
        {{#if isUserUpdateAuditories}}{{> userUpdateAuditories}}{{/if}}
        {{#if isUserUpdateGroups}}{{> userUpdateGroups}}{{/if}}
        {{#if isUserUpdateFaculties}}{{> userUpdateFaculties}}{{/if}}
        {{#if isUserUpdateCourses}}{{> userUpdateCourses}}{{/if}}

    </div>

</template>